QTabWidget::pane { /* The tab widget frame */
  border: 0;
  position: absolute;
  background: #3d3d3d;
}

/* Style the tab using the tab sub-control. Note that
  it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
  background: #181818;
  border: 1 solid #3d3d3d;
  border-top: 0;
  border-bottom: 0;
  min-width: 8ex;
  padding: 8px;
}

QTabBar::tab:first {
  border-left: 0;
}

QTabBar::tab:selected, QTabBar::tab:hover {
  background: #3d3d3d;
}
